apiVersion: v1
kind: Secret
metadata:
  name: "hue-db"
  namespace: "{{ meta.namespace }}"
  labels:
    app: hue
  annotations:
    template.openshift.io/expose-username: "{.data['database-user']}"
    template.openshift.io/expose-password: "{.data['database-password']}"
    template.openshift.io/expose-database_name: "{.data['database-name']}"
    template.openshift.io/expose-root_password: "{.data['database-root-password']}"
stringData:
  database-user: "{{ database_user }}"
  database-password: "{{ database_password }}"
  database-name: "hue"
  database-root-password: "{{ database_root_password }}"